*{
    margin: 0;
    padding: 0;
    
}
.navbar{
    background-color: red;
    height: 50px;
    color: white;
}
.head-item{
    font-size: 32px;
}
.body{
    background-color: violet;
    height: 92.6vh;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}