<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armstong Number API</title>
    <style>
        .bool{
            color: rgb(224, 18, 224);
        }
        .json-heading{
            color: rgb(56, 56, 230);
        }
        .num{
            color: rgb(36, 167, 36);
        }
    </style>
</head>
<body>
    <!-- {{number}} {{func}} -->
<pre>
{
    <span class="json-heading">"number":</span> <span class="num">{{number}}</span>,
    <span class="json-heading">"is_armstrong_number":</span> <span class="bool">{{func}}</span> 
}
</pre>
</body>
</html>