<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armstrong API</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <li class="head-item" style="list-style: none;">
            Armstrong API
        </li>
    </nav>
    <div class="body">
        take the link:
        <br>
        <b>http://127.0.0.1:5000/armstong/(any number)</b>
        <br>
        This is will tell whether the number is armstrong number or not
    </div>
</body>
</html>